@model Lab3.Models.User
@{
    ViewBag.Title = "CreateInfo";
}
<h2>CreateInfo</h2>
<table id="employee" class="table table-striped">
    <tr>
        <td>@Model.UserId</td>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
        <td>@Model.Email</td>
    </tr>
</table>